@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/* styling home page */


.main_container{
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
    max-width: 1366px;
    height: 1682px;
    background-color: #F2F5F8;
}


/* styling header */


.header{
    display: flex;
    width: 100%;
    height: 96px;
    background-color: #FFFFFF;
    border: 2px solid blue;
}

.logo{
    width: 102px;
    height: 35px;
    margin: 30px 246px 31px 39px;

}

.navigation{
    width: 508px;
    font-weight: 400;
    font-size: 14px;
    color: #8172D5;
}

.main_list{
    width: 508px;
    height: 96px;
    font-weight: 500;
    font-size: 14px;
    color: #8172D5;
    margin-right: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_search{
    display: flex;
    margin: 29px 0 30px 205px;
}

.input{
    width: 190px;
    height: 37px;
    background-color: #F2F5F8;
    border-radius: 4px;
    border: none transparent;
    display: flex;    
}

.fa-magnifying-glass{
    width: 37px;
    height: 37px;
    border-radius: 4px;
    background-color: #8172D5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}


/* styling main_box*/


.content{
    border: 2px solid aqua;
}

.main_titles{
    margin: 90px 0 14px 139px;
    width: 1088px;
    font-weight: 500;
    font-style: 18px;
    display: flex;
    justify-content: space-between;
}

.leftbox_title{
    max-width: 335px;
    height: 24px;
    margin-right: 423px;
}

.rightbox_title{
    width: 335px;
    height: 21px;
}

.main_box{
    width: 1088px;
    max-height: 471px;
    display: flex;
    justify-content: space-around;
    margin-left: 139px; 
    
}

.box_left{
    display: flex;
    font-size: 24px;
    width: 742px;
    background-color: #FFFFFF;
    border-radius: 8px;

}

.main_img{
    margin: 18px 18px 38px 18px;
    width: 706px;
    height: 350px;
    
}

.main_text{
    font-weight: 500;
    font-size: 24px;
    width: 631px;
    height: 58px;
    margin: 0 0 7px 18px;
}

.box_right{
    border: 2px solid salmon;
    font-weight: 400;
    font-size: 12;
    width: 330px;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #758BFD;
}

.rightbox_content{
    border: 2px solid greenyellow;

}


/* styling company news container */


.newscontainer_title{
    font-weight: 500;
    font-style: 18px;
    height: 27px;
    margin: 54px 0 14px 139px;
}

.news_container{
    width: 1088px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 139px;
    margin-bottom: 75px;
}

.news1{
    background-color: #FFFFFF;
    width: 260px;
    height: 368px;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 25px;
}

.news2{
    background-color: #FFFFFF;
    width: 260px;
    height: 368px;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 25px;
}

.news3{
    background-color: #FFFFFF;
    width: 260px;
    height: 368px;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 25px;
}

.news4{
    background-color: #FFFFFF;
    width: 260px;
    border-radius: 8px;
    height: 368px;
    margin-bottom: 25px;
}

.news5{
    background-color: #FFFFFF;
    width: 260px;
    height: 368px;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 25px;
}

.news6{
    background-color: #FFFFFF;
    width: 260px;
    height: 368px;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 25px;
}

.news7{
    background-color: #FFFFFF;
    width: 260px;
    height: 368px;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 25px;
}

.news8{
    background-color: #FFFFFF;
    width: 260px;
    height: 368px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.news_img{
    margin: 18px 18px 20px 18px;
}

.news_title{
    width: 200px;
    height: 128px;
    margin: 0 32px 44px 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.news_date{
    width: 200px;
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: 12px;
    font-weight: 400;
    color: #69A3A2;
    margin-left: 28px;
    margin-bottom: 14px;
}






/* styling footer */


.footer{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #758BFD;
    align-items: center;
}

.text_logo{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 39px;
    margin-right: 578px;
}

.footer_navigation{
    width: 703.5px;
}

.footer_list{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}





















